<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "@id": "{{ page.url | absolute_url }}#breadcrumb",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Inicio",
      "item": "{{ site.url }}"
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": "{{ page.categories | first | capitalize }}",
      "item": "{{ site.url }}/{{ page.categories | first }}"
    },
    {
      "@type": "ListItem",
      "position": 3,
      "name": "{{ page.title | escape }}",
      "item": "{{ page.url | absolute_url }}"
    }
  ]
}
</script>